@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    body,
    html {
        height: 100%;
        width: 100%;
        background-color: #3d4160;
        overflow: hidden;
        margin: 0;
    }

    .home-header-contents {
        position: relative;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-logo {
        position: relative;
        top: 17px;
        cursor: pointer;
        height: 70px;
        width: 85px;
        z-index: 1000;
    }

    .sub-blurb {
        font: lighter 0.8em "Source Sans Pro", sans-serif;
        position: absolute;
        top: 73px;
        color: #fff;
        opacity: 0.7;
        letter-spacing: 0.8px;
    }

    /*-------REGISTER FORM--------*/

    .register-form {
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;

    }

    input[type=text] {
        position: absolute;
        top: 200px;
        height: 20px;
        width: 60%;
        background: transparent;
        border: none;
        border-bottom: 1px solid #ff9843;
        outline: none;
        text-align: center;
        color: #ff9843;
    }

    input[type=email] {
        position: absolute;
        top: 292px;
        height: 20px;
        width: 60%;
        background: transparent;
        border: none;
        border-bottom: 1px solid #ff9843;
        outline: none;
        text-align: center;
        color: #ff9843;

    }

    input[type=password] {
        position: absolute;
        top: 400px;
        height: 20px;
        width: 60%;
        background: transparent;
        border: none;
        border-bottom: 1px solid #ff9843;
        outline: none;
        text-align: center;
        color: #ff9843;

    }

    .retype-password {
        top: 447px !important;
    }


    .lastName {
        position: absolute;
        top: 246px !important;

    }

    .postcode {
        top: 338px !important;
    }

    ::-webkit-input-placeholder {
        color: #ff9843;
        opacity: 0.8;
        text-align: center;
        font: lighter 1.3em "Source Sans Pro", sans-serif;
    }

    :-ms-input-placeholder {
        color: #ff9843;
        opacity: 0.8;
        text-align: center;
        font: lighter 1.3em "Source Sans Pro", sans-serif;
    }

    ::placeholder {
        color: #ff9843;
        opacity: 0.8;
        text-align: center;
        font: lighter 1.3em "Source Sans Pro", sans-serif;
    }

    /*-------REGISTER FORM--------*/

    .btn-wrap {
        position: absolute;
        height: 170px;
        width: 60%;
        bottom: 0;
        display: flex;
        justify-content: center;
    }

    .register-btn {
        position: absolute;
        height: 50px;
        width: 100%;
        border-radius: 3px;
        background-color: #3d4160;
        border: 1px solid #ff9843;
        font: lighter 1.1em "Source Sans Pro", sans-serif;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 100;
        box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.02),
            0 6.7px 5.3px rgba(0, 0, 0, 0.028),
            0 12.5px 10px rgba(0, 0, 0, 0.035),
            0 22.3px 17.9px rgba(0, 0, 0, 0.042),
            0 41.8px 33.4px rgba(0, 0, 0, 0.05),
            0 100px 80px rgba(0, 0, 0, 0.07);


    }

    .register-btn:hover {
        box-shadow: none;

    }

    .google-btn {
        position: absolute;
        height: 50px;
        width: 100%;
        top: 60px;
        border-radius: 3px;
        background-color: #fff;
        font: lighter 1em "Source Sans Pro", sans-serif;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .google-icon {
        position: relative;
        height: 35px;
        left: -10px;
    }


}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    body,
    html {
        height: 100%;
        width: 100%;
        background-color: #3d4160;
        overflow: hidden;
        margin: 0;
    }

    .home-header-contents {
        position: relative;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-logo {
        position: relative;
        top: 17px;
        cursor: pointer;
        height: 70px;
        width: 85px;
        z-index: 1000;
    }

    .sub-blurb {
        font: lighter 0.8em "Source Sans Pro", sans-serif;
        position: absolute;
        top: 73px;
        color: #fff;
        opacity: 0.7;
        letter-spacing: 0.8px;
    }

    /*-------REGISTER FORM--------*/

    .register-form {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;

    }

    input[type=text] {
        position: absolute;
        top: 155px;
        height: 20px;
        width: 60%;
        background: transparent;
        border: none;
        border-bottom: 1px solid #ff9843;
        outline: none;
        text-align: center;
        color: #ff9843;
    }

    input[type=email] {
        position: absolute;
        top: 267px;
        height: 20px;
        width: 60%;
        background: transparent;
        border: none;
        border-bottom: 1px solid #ff9843;
        outline: none;
        text-align: center;
        color: #ff9843;

    }

    input[type=password] {
        position: absolute;
        top: 400px;
        height: 20px;
        width: 60%;
        background: transparent;
        border: none;
        border-bottom: 1px solid #ff9843;
        outline: none;
        text-align: center;
        color: #ff9843;

    }

    .retype-password {
        top: 447px !important;
    }


    .lastName {
        position: absolute;
        top: 211px !important;

    }

    .postcode {
        top: 323px !important;
    }

    ::-webkit-input-placeholder {
        color: #ff9843;
        opacity: 0.8;
        text-align: center;
        font: lighter 1.3em "Source Sans Pro", sans-serif;
    }

    :-ms-input-placeholder {
        color: #ff9843;
        opacity: 0.8;
        text-align: center;
        font: lighter 1.3em "Source Sans Pro", sans-serif;
    }

    ::placeholder {
        color: #ff9843;
        opacity: 0.8;
        text-align: center;
        font: lighter 1.3em "Source Sans Pro", sans-serif;
    }

    /*-------REGISTER FORM--------*/

    .btn-wrap {
        position: absolute;
        height: 170px;
        width: 60%;
        bottom: 350px;
        display: flex;
        justify-content: center;
    }

    .register-btn {
        display: none;

    }

    .register-btn-ipad {
        position: absolute;
        height: 50px;
        width: 100%;
        border-radius: 3px;
        background-color: #3d4160;
        border: 1px solid #ff9843;
        font: lighter 1.1em "Source Sans Pro", sans-serif;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 100;
        box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.02),
            0 6.7px 5.3px rgba(0, 0, 0, 0.028),
            0 12.5px 10px rgba(0, 0, 0, 0.035),
            0 22.3px 17.9px rgba(0, 0, 0, 0.042),
            0 41.8px 33.4px rgba(0, 0, 0, 0.05),
            0 100px 80px rgba(0, 0, 0, 0.07);


    }


    .register-btn:hover {
        box-shadow: none;

    }

    .google-btn {
        position: absolute;
        height: 50px;
        width: 100%;
        top: 75px;
        border-radius: 3px;
        background-color: #fff;
        font: lighter 1em "Source Sans Pro", sans-serif;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .google-icon {
        position: relative;
        height: 35px;
        left: -10px;
    }

}

/* iPad Pro (portrait and landscape) ----------- */
@media only screen and (min-device-width : 1024px) {

    body,
    html {
        height: 100%;
        width: 100%;
        background-color: #3d4160;
        overflow: hidden;
        margin: 0;
    }

    .home-header-contents {
        position: relative;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-logo {
        position: relative;
        top: 17px;
        cursor: pointer;
        height: 70px;
        width: 85px;
        z-index: 1000;
    }

    .sub-blurb {
        font: lighter 0.8em "Source Sans Pro", sans-serif;
        position: absolute;
        top: 73px;
        color: #fff;
        opacity: 0.7;
        letter-spacing: 0.8px;
    }

    /*-------REGISTER FORM--------*/

    .register-form {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;

    }

    input[type=text] {
        position: absolute;
        top: 148px;
        height: 20px;
        width: 60%;
        background: transparent;
        border: none;
        border-bottom: 1px solid #ff9843;
        outline: none;
        text-align: center;
        color: #ff9843;
    }

    input[type=email] {
        position: absolute;
        top: 280px;
        height: 20px;
        width: 60%;
        background: transparent;
        border: none;
        border-bottom: 1px solid #ff9843;
        outline: none;
        text-align: center;
        color: #ff9843;

    }

    input[type=password] {
        position: absolute;
        top: 459px;
        height: 20px;
        width: 60%;
        background: transparent;
        border: none;
        border-bottom: 1px solid #ff9843;
        outline: none;
        text-align: center;
        color: #ff9843;

    }

    .retype-password {
        top: 525px !important;
    }


    .lastName {
        position: absolute;
        top: 214px !important;

    }

    .postcode {
        top: 346px !important;
    }

    ::-webkit-input-placeholder {
        color: #ff9843;
        opacity: 0.8;
        text-align: center;
        font: lighter 1.5em "Source Sans Pro", sans-serif;
    }

    :-ms-input-placeholder {
        color: #ff9843;
        opacity: 0.8;
        text-align: center;
        font: lighter 1.5em "Source Sans Pro", sans-serif;
    }

    ::placeholder {
        color: #ff9843;
        opacity: 0.8;
        text-align: center;
        font: lighter 1.5em "Source Sans Pro", sans-serif;
    }

    /*-------REGISTER FORM--------*/

    .btn-wrap {
        position: absolute;
        height: 170px;
        width: 60%;
        bottom: 350px;
        display: flex;
        justify-content: center;
    }

    .register-btn {
        display: none;

    }

    .register-btn-ipad {
        position: absolute;
        height: 50px;
        width: 100%;
        border-radius: 3px;
        background-color: #3d4160;
        border: 1px solid #ff9843;
        font: lighter 1.1em "Source Sans Pro", sans-serif;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 100;
        box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.02),
            0 6.7px 5.3px rgba(0, 0, 0, 0.028),
            0 12.5px 10px rgba(0, 0, 0, 0.035),
            0 22.3px 17.9px rgba(0, 0, 0, 0.042),
            0 41.8px 33.4px rgba(0, 0, 0, 0.05),
            0 100px 80px rgba(0, 0, 0, 0.07);


    }


    .register-btn:hover {
        box-shadow: none;

    }

    .google-btn {
        position: absolute;
        height: 50px;
        width: 100%;
        top: 75px;
        border-radius: 3px;
        background-color: #fff;
        font: lighter 1em "Source Sans Pro", sans-serif;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .google-icon {
        position: relative;
        height: 35px;
        left: -10px;
    }


}

/* Desktop Screen ----------- */
@media only screen and (min-device-width : 1224px) {

    body,
    html {
        height: 100%;
        width: 100%;
        background-color: #3d4160;
        overflow: hidden;
        margin: 0;

        display: flex;
        justify-content: center;

    }

    .home-header-contents {
        position: relative;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-logo {
        position: relative;
        top: 17px;
        cursor: pointer;
        height: 85px;
        width: 100px;
        z-index: 1000;
    }

    .sub-blurb {
        font: lighter 1em "Source Sans Pro", sans-serif;
        position: absolute;
        top: 75px;
        color: #fff;
        letter-spacing: 0.8px;
    }

    /*-------REGISTER FORM--------*/

    .register-form {
        position: absolute;
        height: 100%;
        width: 50%;
        top: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;

    }

    input[type=text] {
        position: absolute;
        top: 148px;
        height: 20px;
        width: 28%;
        left: 192px;
        background: transparent;
        border: none;
        border-bottom: 1.5px solid #ff9843;
        outline: none;
        text-align: center;
        color: #ff9843;
    }

    .lastName {
        position: absolute;
        top: 148px !important;
        left: 499px !important;


    }


    input[type=email] {
        position: absolute;
        top: 249px;
        height: 20px;
        width: 60%;
        background: transparent;
        border: none;
        border-bottom: 1.5px solid #ff9843;
        outline: none;
        text-align: center;
        color: #ff9843;

    }

    input[type=password] {
        position: absolute;
        top: 459px;
        height: 20px;
        width: 60%;
        background: transparent;
        border: none;
        border-bottom: 1.5px solid #ff9843;
        outline: none;
        text-align: center;
        color: #ff9843;

    }

    .retype-password {
        top: 525px !important;
    }



    .postcode {
        top: 350px !important;
        width: 60% !important;
    }

    ::-webkit-input-placeholder {
        color: #ff9843;
        opacity: 0.8;
        text-align: center;
        font: lighter 1.5em "Source Sans Pro", sans-serif;
    }

    :-ms-input-placeholder {
        color: #ff9843;
        opacity: 0.8;
        text-align: center;
        font: lighter 1.5em "Source Sans Pro", sans-serif;
    }

    ::placeholder {
        color: #ff9843;
        opacity: 0.8;
        text-align: center;
        font: lighter 1.5em "Source Sans Pro", sans-serif;
    }

    /*-------REGISTER FORM--------*/

    .btn-wrap {
        position: absolute;
        height: 170px;
        width: 60%;
        bottom: 120px;
        display: flex;
        justify-content: center;
    }

    .register-btn {
        position: absolute;
        height: 50px;
        width: 100%;
        border-radius: 3px;
        background-color: #3d4160;
        border: 1px solid #ff9843;
        font: lighter 1.1em "Source Sans Pro", sans-serif;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 100;
        box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.02),
            0 6.7px 5.3px rgba(0, 0, 0, 0.028),
            0 12.5px 10px rgba(0, 0, 0, 0.035),
            0 22.3px 17.9px rgba(0, 0, 0, 0.042),
            0 41.8px 33.4px rgba(0, 0, 0, 0.05),
            0 100px 80px rgba(0, 0, 0, 0.07);

    }

    .register-btn-ipad {
        display: none;

    }

    .google-btn {
        position: absolute;
        height: 50px;
        width: 100%;
        top: 75px;
        border-radius: 3px;
        background-color: #fff;
        font: bold 1em "Source Sans Pro", sans-serif;
        color: #000;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .google-icon {
        position: relative;
        height: 35px;
        left: -10px;
    }

        /*-------HOVERS etc--------*/


    .register-btn:hover {
        box-shadow: none;
        border: 1px solid #FFC136;

    }

    .register-btn:active {
        -webkit-box-shadow: inset 0px 0px 5px 8px rgba(0, 0, 0, 0.12);
        -moz-box-shadow: inset 0px 0px 5px 8px rgba(0, 0, 0, 0.12);
        box-shadow: inset 0px 0px 5px 8px rgba(0, 0, 0, 0.12);
        border: 1px solid #ff9843;

    }

    .google-btn:hover {
        background-color: #f0f0f0;
        
    }

    .google-btn:active {
        background-color: #fff;
        color: #000;

    }



}